fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
google-cloud-storage==2.10.0
catboost==1.2.7
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.5.2
shap==0.46.0
tqdm==4.66.1
optuna==4.3.0
geopy==2.4.1
sentence-transformers==2.6.1
fastparquet==2024.5.0
pyarrow==18.0.0
openpyxl==3.1.5
seaborn==0.13.2
psycopg2-binary==2.9.9